*{
    font-family: 'VT323', monospace;
}
body {
    background-color:rgb(247, 14, 14);
    color: white;
    margin: 0;
    
}

.container {
    padding: 20px;
    margin: 0 auto;
}

#titulo {
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    padding: 0%;
    margin: 0%;
    color:gold;
    text-shadow: 5px 5px 7px blue;}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

.card {
    list-style: none;
    padding: 2px;
    background-color: white;
    color: #222;
  text-align: center;
}

.card:hover {
    animation: bounce 0.5s linear;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
}
.card-subtitle {
    margin-top: 5px;
    color: #666;
    font-weight: lighter;
}

.card-image {
    height: 150px;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}
